<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/tipsy.js"></script>
<h3><%= @region.name %></h3>
<svg id="map" width="1200" height="800"></svg>
</div>
<script>
  // below is the solar system data in JSON format for use with the D3 library for display.
  var dataset = <%= @data.to_s.html_safe %>;
  var links = <%= @links.to_s.html_safe %>[0];
  $(document).ready(function() {
    var height = 800
    var width = 1200
    var radius = 10

    var map = d3.select("#map")
    .append("svg")
    .attr("height", height)
    .attr("width", width)

    var systems = map.selectAll("circle")
    .data(dataset)
    .enter()
    .append("circle")

    systems.attr("cx", function(data, index) {
      return data.x;
    })
    .attr("cy", function(data, index) {
      return data.y;
    })
    .attr("r", radius)
    .attr('fill', 'orange')
    .attr('stroke', 'yellow')
    .attr('stroke-width', '2px')
    .attr('class', 'solar-system')

    $('.solar-system').tipsy({
      gravity: 'sw',
      html: true,
        // trigger: 'manual',
        title: function() {
          var d = this.__data__;
          return 'System: ' + d.name;
        }
      });
    })
  </script>
